In [1]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

In [40]:
#Преобразования номера в вид 79991234567
#data - название входящего dataframe
#name - имя колонки содержащей номер
#new_name - имя новой колонки с номером
def number_norm(data, name, new_name):  
    
    #создаем dataframe для внутренних преобразований
    df = data.copy()
    
    #Вставляем новый столбец для номера и проверяем есть ли он уже
    try:
        df.insert(loc=0 , column=new_name, value=df[name])
    except ValueError:
        #если он уже есть проверяем что новый столбец соответствует старому
        if df[new_name][0] == df[name][0]:
            pass
        else:            
            print('Выбери другое имя нового столбца!')
            return
    
    #функция для преобразования строки с номером
    #n - строка
    def number_change(n):
        #посимвольно проверяем строку n, цифры записываем в строку r, остальное отбрасываем
        try:
            r = ''
            for i in n:
                if i.isdigit():
                    r += str(i)
        #в случае возникновения проблемы при проверке возвращаем None
        except TypeError:
            return None
        #при удачном преобразовании:
        else:
            # создаем новую переменную в которую будем записывать конечный результат, 
            # если получившийся набор цифр не соответствует нашим требованиям к номеру будем возвращать None
            r1 = None
            # проверяем что номер не более 11 цифр и удаляем лишнее
            if len(r) > 10:        
                r = r[0:11]
                # оставляем если в начяле стоит 7
                if r[0] == '7':
                    r1 = r
                # заменяем в начале 8 на 7
                elif r[0] == '8':
                    r1 = '7' + r[1:]
            # если номер записан без 8 или +7 добавляем 7
            elif len(r) == 10:
                r1 = '7' + r
        return r1
    
    display(df.shape)
    df[new_name] = df[new_name].map(number_change)
    df_dropna = df.dropna(subset=[new_name], ignore_index=True)
    #display(df_dropna.info())
    display(df.shape[0]-df_dropna.shape[0])
    #display(df_dropna)
    return(df_dropna)

In [4]:
contact_a = pd.read_csv('CONTACT_а.csv', dtype=str)
display(contact_a)

,Название,Телефон,Емейл,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,Лодка,NaN
1,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
2,Дарья,79956054851,NaN,NaN,28.10.2023 10:56:51,28.03.2023 11:53:27,Звонок,NaN,NaN,NaN
3,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
100751,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
100752,Михаил,79233648545,NaN,NaN,22.03.2024 15:13:46,09.01.2023 12:13:06,Звонок,NaN,NaN,NaN
100753,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
100754,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN
100755,Ринат,79163479836,NaN,NaN,28.02.2023 20:45:30,12.12.2022 10:52:14,Звонок,NaN,NaN,NaN

In [7]:
contact_a['Телефон'].isnull().value_counts()

Телефон
False    100755
True          1
Name: count, dtype: int64

In [79]:
cont_a = number_norm(data = contact_a, name = 'Телефон', new_name='number')

(100756, 11)

7332

In [10]:
contact_b = pd.read_csv('CONTACT_б.csv', dtype=str)
display(contact_b)
contact_b['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,БОРИС,9859975250,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
1,ЛЮБОВЬ,89164953314,NaN,NaN,01.02.2023 14:22:47,01.02.2023 14:22:47,Холодная база - еще не звонили,NaN,NaN,NaN
2,БОРИС,89037903182,NaN,NaN,01.02.2023 14:22:46,01.02.2023 14:22:46,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЗУРАБИ,89257808344,NaN,NaN,01.02.2023 14:22:30,01.02.2023 14:22:30,Холодная база - еще не звонили,NaN,NaN,NaN
4,АСЛАНБЕК,89264340034,NaN,NaN,01.02.2023 14:22:29,01.02.2023 14:22:29,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2442,СИЯБШАХ,89153093454,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
2443,ЛЮБОВЬ,79035350847,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
2444,ДЖАМБУЛАТ,89261019190,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
2445,ЭЛЬБУРУС,1873187,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
2446,МЕХРАБ,89269222122,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    2447
Name: count, dtype: int64

In [108]:
cont_b = number_norm(data = contact_b, name = 'Телефон', new_name='number')

(2447, 11)

187

In [12]:
contact_v = pd.read_csv('CONTACT_в.csv', dtype=str)
display(contact_v)
contact_v['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ВИКТОР,9264727051,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
1,СВЕТЛАНА,89161245746,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,СВЕТЛАНА,9260976232,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
3,ВИТАЛИЙ,9057860022,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
4,ВЛАДИМИР,9161539150,NaN,NaN,01.02.2023 14:22:54,01.02.2023 14:22:54,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
28167,СТАНИСЛАВ,9268880606,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
28168,ВЛАДЛЕН,"2200224, 89167594897",NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
28169,ЯРОСЛАВ,84957680432,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
28170,ВАДИМ,89037990302,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
28171,ВИКТОР,89251003545,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    28172
Name: count, dtype: int64

In [107]:
cont_v = number_norm(data = contact_v, name = 'Телефон', new_name='number')

(28172, 11)

2182

In [15]:
contact_g = pd.read_csv('CONTACT_г.csv', dtype=str)
display(contact_g)
contact_g['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,Лодка,NaN
1,ИГОРЬ,89161953242,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
2,ОЛЕГ,89266121362,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
3,СЕРГЕЙ,89260611137,NaN,NaN,01.02.2023 14:22:54,01.02.2023 14:22:54,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЕВГЕНИЙ,89267136433,NaN,NaN,01.02.2023 14:22:53,01.02.2023 14:22:53,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
24803,Сергей,79163697872,NaN,NaN,12.04.2023 17:25:27,20.01.2023 14:23:16,NaN,NaN,NaN,NaN
24804,Георгий,"+79536660952, 79809009417",NaN,NaN,25.01.2023 01:49:13,19.01.2023 07:18:05,Звонок,NaN,NaN,NaN
24805,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
24806,Сергей,79994505505,NaN,NaN,11.01.2023 23:25:56,27.12.2022 13:00:53,NaN,NaN,NaN,NaN
24807,Егор,79135937038,NaN,NaN,27.12.2022 13:00:01,27.12.2022 13:00:01,Звонок,NaN,NaN,NaN

Телефон
False    24807
True         1
Name: count, dtype: int64

In [106]:
cont_g = number_norm(data = contact_g, name = 'Телефон', new_name='number')

(24808, 11)

1884

In [17]:
contact_d = pd.read_csv('CONTACT_д.csv', dtype=str)
display(contact_d)
contact_d['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Дарья,79956054851,NaN,NaN,28.10.2023 10:56:51,28.03.2023 11:53:27,Звонок,NaN,NaN,NaN
1,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,ДИНА,89175354909,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЛИДИЯ,89263553399,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
4,ФЕДОР,89037645663,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
34820,ЛЕОНИД,89263571731,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
34821,ВАДИМ,89037990302,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
34822,АЛЕКСАНДР,"89288805767, 89688274437",NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
34823,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
34824,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN

Телефон
False    34825
Name: count, dtype: int64

In [105]:
cont_d = number_norm(data = contact_d, name = 'Телефон', new_name='number')

(34825, 11)

2851

In [19]:
contact_e = pd.read_csv('CONTACT_е.csv', dtype=str)
display(contact_e)
contact_e['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
1,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,АЛЕКСЕЙ,89250069996,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,СВЕТЛАНА,89161245746,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
60119,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
60120,Сергей,79994505505,NaN,NaN,11.01.2023 23:25:56,27.12.2022 13:00:53,NaN,NaN,NaN,NaN
60121,Егор,79135937038,NaN,NaN,27.12.2022 13:00:01,27.12.2022 13:00:01,Звонок,NaN,NaN,NaN
60122,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
60123,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN

Телефон
False    60124
Name: count, dtype: int64

In [104]:
cont_e = number_norm(data = contact_e, name = 'Телефон', new_name='number')

(60124, 11)

4597

In [21]:
contact_j = pd.read_csv('CONTACT_ж.csv', dtype=str)
display(contact_j)
contact_j['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЖАННА,89269265202,NaN,NaN,01.02.2023 14:22:54,01.02.2023 14:22:54,Холодная база - еще не звонили,NaN,NaN,NaN
1,ДЖАЛИЛ,9037903625,NaN,NaN,01.02.2023 14:22:52,01.02.2023 14:22:52,Холодная база - еще не звонили,NaN,NaN,NaN
2,НАДЕЖДА,89853087070,NaN,NaN,01.02.2023 14:22:49,01.02.2023 14:22:49,Холодная база - еще не звонили,NaN,NaN,NaN
3,НАДЕЖДА,9267227833,NaN,NaN,01.02.2023 14:22:38,01.02.2023 14:22:38,Холодная база - еще не звонили,NaN,NaN,NaN
4,НАДЕЖДА,5777454,NaN,NaN,01.02.2023 14:22:23,01.02.2023 14:22:23,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1862,ДЖУЛЬЕТТА,9168888005,NaN,NaN,01.02.2023 10:18:21,01.02.2023 10:18:21,Холодная база - еще не звонили,NaN,NaN,NaN
1863,ГАДЖИКУЛИ,9857671119,NaN,NaN,01.02.2023 10:18:19,01.02.2023 10:18:19,Холодная база - еще не звонили,NaN,NaN,NaN
1864,СНЕЖАНА,89055617035,NaN,NaN,01.02.2023 10:18:19,01.02.2023 10:18:19,Холодная база - еще не звонили,NaN,NaN,NaN
1865,МЕРУЖАН,9257724818,NaN,NaN,01.02.2023 10:18:15,01.02.2023 10:18:15,Холодная база - еще не звонили,NaN,NaN,NaN
1866,ДЖАМБУЛАТ,89261019190,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    1867
Name: count, dtype: int64

In [103]:
cont_j = number_norm(data = contact_j, name = 'Телефон', new_name='number')

(1867, 11)

113

In [23]:
contact_z = pd.read_csv('CONTACT_з.csv', dtype=str)
display(contact_z)
contact_z['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЛУИЗА,89265610737,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
1,РАЗИ,89645036303,NaN,NaN,01.02.2023 14:22:47,01.02.2023 14:22:47,Холодная база - еще не звонили,NaN,NaN,NaN
2,РАМЗАН,89160915868,NaN,NaN,01.02.2023 14:22:31,01.02.2023 14:22:31,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЗУРАБИ,89257808344,NaN,NaN,01.02.2023 14:22:30,01.02.2023 14:22:30,Холодная база - еще не звонили,NaN,NaN,NaN
4,НАЗИР,89037243445,NaN,NaN,01.02.2023 14:22:23,01.02.2023 14:22:23,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1469,РАМАЗИ,89095384400,NaN,NaN,01.02.2023 10:18:11,01.02.2023 10:18:11,Холодная база - еще не звонили,NaN,NaN,NaN
1470,ТЕНГИЗ,9852260937,NaN,NaN,01.02.2023 10:18:10,01.02.2023 10:18:10,Холодная база - еще не звонили,NaN,NaN,NaN
1471,АЗЕР,89266606646,NaN,NaN,01.02.2023 10:18:04,01.02.2023 10:18:04,Холодная база - еще не звонили,NaN,NaN,NaN
1472,ЗАКИР,89252204581,NaN,NaN,01.02.2023 10:18:02,01.02.2023 10:18:02,Холодная база - еще не звонили,NaN,NaN,NaN
1473,РИЗИУАН,89152222877,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    1474
Name: count, dtype: int64

In [102]:
cont_z = number_norm(data = contact_z, name = 'Телефон', new_name='number')

(1474, 11)

102

In [25]:
contact_i = pd.read_csv('CONTACT_и.csv', dtype=str)
display(contact_i)
contact_i['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Тони,NaN,NaN,NaN,01.09.2023 16:18:42,01.09.2023 16:18:42,Звонок,NaN,NaN,NaN
1,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,ИСМАИЛ,89637768497,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
70492,ВИКТОР,89251003545,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
70493,Илья,79164458410,NaN,NaN,28.02.2023 21:47:52,20.01.2023 13:43:25,Звонок,NaN,NaN,NaN
70494,Георгий,"+79536660952, 79809009417",NaN,NaN,25.01.2023 01:49:13,19.01.2023 07:18:05,Звонок,NaN,NaN,NaN
70495,Михаил,79233648545,NaN,NaN,22.03.2024 15:13:46,09.01.2023 12:13:06,Звонок,NaN,NaN,NaN
70496,Ринат,79163479836,NaN,NaN,28.02.2023 20:45:30,12.12.2022 10:52:14,Звонок,NaN,NaN,NaN

Телефон
False    70496
True         1
Name: count, dtype: int64

In [101]:
cont_i = number_norm(data = contact_i, name = 'Телефон', new_name='number')

(70497, 11)

5279

In [27]:
contact_ii = pd.read_csv('CONTACT_й.csv', dtype=str)
display(contact_ii)
contact_ii['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
1,АЛЕКСЕЙ,89250069996,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,АНАТОЛИЙ,89037623345,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЮРИЙ,89266516894,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
39876,СЕРГЕЙ,9096636494,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
39877,Сергей,79163697872,NaN,NaN,12.04.2023 17:25:27,20.01.2023 14:23:16,NaN,NaN,NaN,NaN
39878,Георгий,"+79536660952, 79809009417",NaN,NaN,25.01.2023 01:49:13,19.01.2023 07:18:05,Звонок,NaN,NaN,NaN
39879,Сергей,79994505505,NaN,NaN,11.01.2023 23:25:56,27.12.2022 13:00:53,NaN,NaN,NaN,NaN
39880,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN

Телефон
False    39881
Name: count, dtype: int64

In [100]:
cont_ii = number_norm(data = contact_ii, name = 'Телефон', new_name='number')

(39881, 11)

3308

In [38]:
contact_k = pd.read_csv('CONTACT_к.csv', dtype=str)
display(contact_k)
contact_k['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
1,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,АЛЕКСЕЙ,89250069996,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30741,АЛЕКСАНДР,89057797197,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
30742,НИКОЛАЙ,89166024358,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
30743,АЛЕКСАНДР,"89288805767, 89688274437",NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
30744,ВИКТОР,89251003545,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
30745,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN

Телефон
False    30746
Name: count, dtype: int64

In [41]:
cont_k = number_norm(data = contact_k, name = 'Телефон', new_name='number')

(30746, 11)

2346

In [42]:
contact_l = pd.read_csv('CONTACT_л.csv', dtype=str)
display(contact_l)
contact_l['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
1,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,АЛЕКСЕЙ,89250069996,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
67457,АЛЕКСАНДР,"89288805767, 89688274437",NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
67458,Илья,79164458410,NaN,NaN,28.02.2023 21:47:52,20.01.2023 13:43:25,Звонок,NaN,NaN,NaN
67459,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
67460,Михаил,79233648545,NaN,NaN,22.03.2024 15:13:46,09.01.2023 12:13:06,Звонок,NaN,NaN,NaN
67461,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN

Телефон
False    67462
Name: count, dtype: int64

In [43]:
cont_l = number_norm(data = contact_l, name = 'Телефон', new_name='number')

(67462, 11)

5198

In [44]:
contact_m = pd.read_csv('CONTACT_м.csv', dtype=str)
display(contact_m)
contact_m['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,NaN,NaN
1,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,ИСМАИЛ,89637768497,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,РОМАН,89031888883,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,МИХАИЛ,9099500701,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
26455,ВАДИМ,89037990302,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
26456,МАХАЧ,89104506694,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
26457,МЕХРАБ,89269222122,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
26458,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
26459,Михаил,79233648545,NaN,NaN,22.03.2024 15:13:46,09.01.2023 12:13:06,Звонок,NaN,NaN,NaN

Телефон
False    26459
True         1
Name: count, dtype: int64

In [45]:
cont_m = number_norm(data = contact_m, name = 'Телефон', new_name='number')

(26460, 11)

2007

In [46]:
contact_n = pd.read_csv('CONTACT_н.csv', dtype=str)
display(contact_n)
contact_n['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Тони,NaN,NaN,NaN,01.09.2023 16:18:42,01.09.2023 16:18:42,Звонок,NaN,NaN,NaN
1,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,NaN,NaN
2,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
67101,ТАТЬЯНА,89262651187,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
67102,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
67103,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
67104,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN
67105,Ринат,79163479836,NaN,NaN,28.02.2023 20:45:30,12.12.2022 10:52:14,Звонок,NaN,NaN,NaN

Телефон
False    67104
True         2
Name: count, dtype: int64

In [47]:
cont_n = number_norm(data = contact_n, name = 'Телефон', new_name='number')

(67106, 11)

4733

In [48]:
contact_o = pd.read_csv('CONTACT_о.csv', dtype=str)
display(contact_o)
contact_o['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Тони,NaN,NaN,NaN,01.09.2023 16:18:42,01.09.2023 16:18:42,Звонок,NaN,NaN,NaN
1,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,NaN,NaN
2,НИКОЛАЙ,9032430607,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,ВИКТОР,9264727051,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,АНАТОЛИЙ,89037623345,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
25859,НИКОЛАЙ,89166024358,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
25860,ВИКТОР,89251003545,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
25861,Георгий,"+79536660952, 79809009417",NaN,NaN,25.01.2023 01:49:13,19.01.2023 07:18:05,Звонок,NaN,NaN,NaN
25862,Егор,79135937038,NaN,NaN,27.12.2022 13:00:01,27.12.2022 13:00:01,Звонок,NaN,NaN,NaN
25863,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN

Телефон
False    25862
True         2
Name: count, dtype: int64

In [49]:
cont_o = number_norm(data = contact_o, name = 'Телефон', new_name='number')

(25864, 11)

1910

In [50]:
contact_p = pd.read_csv('CONTACT_п.csv', dtype=str)
display(contact_p)
contact_p['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ПАВЕЛ,89645008430,NaN,NaN,01.02.2023 14:22:53,01.02.2023 14:22:53,Холодная база - еще не звонили,NaN,NaN,NaN
1,ПАВЕЛ,89263439242,NaN,NaN,01.02.2023 14:22:53,01.02.2023 14:22:53,Холодная база - еще не звонили,NaN,NaN,NaN
2,ПАВЕЛ,7903359,NaN,NaN,01.02.2023 14:22:47,01.02.2023 14:22:47,Холодная база - еще не звонили,NaN,NaN,NaN
3,ПОЛИНА,9264112913,NaN,NaN,01.02.2023 14:22:46,01.02.2023 14:22:46,Холодная база - еще не звонили,NaN,NaN,NaN
4,ПАВЕЛ,9166791161,NaN,NaN,01.02.2023 14:22:45,01.02.2023 14:22:45,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2910,ПАВЕЛ,89030014599,NaN,NaN,01.02.2023 10:18:15,01.02.2023 10:18:15,Холодная база - еще не звонили,NaN,NaN,NaN
2911,ФИЛИПП,89037829787,NaN,NaN,01.02.2023 10:18:11,01.02.2023 10:18:11,Холодная база - еще не звонили,NaN,NaN,NaN
2912,ПАВЕЛ,9165607524,NaN,NaN,01.02.2023 10:18:10,01.02.2023 10:18:10,Холодная база - еще не звонили,NaN,NaN,NaN
2913,АКОП,89261235412,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
2914,ПАВЕЛ,89265212508,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    2915
Name: count, dtype: int64

In [51]:
cont_p = number_norm(data = contact_p, name = 'Телефон', new_name='number')

(2915, 11)

192

In [52]:
contact_c = pd.read_csv('CONTACT_с.csv', dtype=str)
display(contact_c)
contact_c['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Алексей,79875151111,NaN,NaN,22.05.2023 12:12:04,26.04.2023 11:21:55,NaN,NaN,NaN,NaN
1,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,АЛЕКСЕЙ,89250069996,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,ИСМАИЛ,89637768497,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,СВЕТЛАНА,89161245746,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
41200,СЕРГЕЙ,9096636494,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
41201,АЛЕКСАНДР,"89288805767, 89688274437",NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
41202,Сергей,79163697872,NaN,NaN,12.04.2023 17:25:27,20.01.2023 14:23:16,NaN,NaN,NaN,NaN
41203,Сергей,79994505505,NaN,NaN,11.01.2023 23:25:56,27.12.2022 13:00:53,NaN,NaN,NaN,NaN
41204,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN

Телефон
False    41205
Name: count, dtype: int64

In [53]:
cont_c = number_norm(data = contact_c, name = 'Телефон', new_name='number')

(41205, 11)

3160

In [54]:
contact_t = pd.read_csv('CONTACT_т.csv', dtype=str)
display(contact_t)
contact_t['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Тони,NaN,NaN,NaN,01.09.2023 16:18:42,01.09.2023 16:18:42,Звонок,NaN,NaN,NaN
1,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,ВИКТОР,9264727051,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,СВЕТЛАНА,89161245746,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,АНАТОЛИЙ,89037623345,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32194,ВИКТОР,89251003545,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
32195,ТАТЬЯНА,89262651187,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
32196,Регламент,9999999999,NaN,NaN,18.01.2023 17:41:01,18.01.2023 17:41:01,NaN,NaN,NaN,NaN
32197,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
32198,Ринат,79163479836,NaN,NaN,28.02.2023 20:45:30,12.12.2022 10:52:14,Звонок,NaN,NaN,NaN

Телефон
False    32198
True         1
Name: count, dtype: int64

In [55]:
cont_t = number_norm(data = contact_t, name = 'Телефон', new_name='number')

(32199, 11)

2220

In [56]:
contact_y = pd.read_csv('CONTACT_у.csv', dtype=str)
display(contact_y)
contact_y['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЛУИЗА,89265610737,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
1,ДАУТ,89037444999,NaN,NaN,01.02.2023 14:22:54,01.02.2023 14:22:54,Холодная база - еще не звонили,NaN,NaN,NaN
2,ТИМУР,9167084228,NaN,NaN,01.02.2023 14:22:46,01.02.2023 14:22:46,Холодная база - еще не звонили,NaN,NaN,NaN
3,РУСЛАН,89096690127,NaN,NaN,01.02.2023 14:22:43,01.02.2023 14:22:43,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЭДУАРД,9057071978,NaN,NaN,01.02.2023 14:22:38,01.02.2023 14:22:38,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3445,ДЖАМБУЛАТ,89261019190,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
3446,ЭЛЬБУРУС,1873187,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
3447,РИЗИУАН,89152222877,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
3448,РЕ ЧУН,89037978877,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
3449,РУСЛАН,9162572,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    3450
Name: count, dtype: int64

In [57]:
cont_y = number_norm(data = contact_y, name = 'Телефон', new_name='number')

(3450, 11)

189

In [58]:
contact_f = pd.read_csv('CONTACT_ф.csv', dtype=str)
display(contact_f)
contact_f['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Гофман,NaN,NaN,NaN,03.08.2023 11:01:42,03.08.2023 11:01:42,Звонок,NaN,NaN,NaN
1,ФЕДОР,89037645663,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
2,РАФАТ,9257038838,NaN,NaN,01.02.2023 14:22:54,01.02.2023 14:22:54,Холодная база - еще не звонили,NaN,NaN,NaN
3,ТОФИК,89153305586,NaN,NaN,01.02.2023 14:22:46,01.02.2023 14:22:46,Холодная база - еще не звонили,NaN,NaN,NaN
4,РАФАЭЛЬ,89851949408,NaN,NaN,01.02.2023 14:22:36,01.02.2023 14:22:36,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1253,ФИЛИПП,89852746445,NaN,NaN,01.02.2023 10:18:17,01.02.2023 10:18:17,Холодная база - еще не звонили,NaN,NaN,NaN
1254,ЕФИМ,89264523304,NaN,NaN,01.02.2023 10:18:11,01.02.2023 10:18:11,Холодная база - еще не звонили,NaN,NaN,NaN
1255,ФИЛИПП,89037829787,NaN,NaN,01.02.2023 10:18:11,01.02.2023 10:18:11,Холодная база - еще не звонили,NaN,NaN,NaN
1256,ФЕДОР,"79857630447, 7630447",NaN,NaN,01.02.2023 10:18:02,01.02.2023 10:18:02,Холодная база - еще не звонили,NaN,NaN,NaN
1257,РАФИГ,9168370220,NaN,NaN,01.02.2023 10:18:02,01.02.2023 10:18:02,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    1257
True        1
Name: count, dtype: int64

In [59]:
cont_f = number_norm(data = contact_f, name = 'Телефон', new_name='number')

(1258, 11)

100

In [60]:
contact_x = pd.read_csv('CONTACT_х.csv', dtype=str)
display(contact_x)
contact_x['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,МИХАИЛ,9099500701,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
1,МИХАИЛ,89857912640,NaN,NaN,01.02.2023 14:22:44,01.02.2023 14:22:44,Холодная база - еще не звонили,NaN,NaN,NaN
2,ШАХИН,89035593536,NaN,NaN,01.02.2023 14:22:42,01.02.2023 14:22:42,Холодная база - еще не звонили,NaN,NaN,NaN
3,МИХАИЛ,89104195984,NaN,NaN,01.02.2023 14:22:37,01.02.2023 14:22:37,Холодная база - еще не звонили,NaN,NaN,NaN
4,МИХАИЛ,89153399608,NaN,NaN,01.02.2023 14:22:36,01.02.2023 14:22:36,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4318,МИХАИЛ,89104763573,NaN,NaN,01.02.2023 10:18:02,01.02.2023 10:18:02,Холодная база - еще не звонили,NaN,NaN,NaN
4319,СИЯБШАХ,89153093454,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
4320,МАХАЧ,89104506694,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
4321,МЕХРАБ,89269222122,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
4322,Михаил,79233648545,NaN,NaN,22.03.2024 15:13:46,09.01.2023 12:13:06,Звонок,NaN,NaN,NaN

Телефон
False    4323
Name: count, dtype: int64

In [61]:
cont_x = number_norm(data = contact_x, name = 'Телефон', new_name='number')

(4323, 11)

338

In [62]:
contact_cc = pd.read_csv('CONTACT_ц.csv', dtype=str)
display(contact_cc)
contact_cc['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЦОЛАК,89262724310,NaN,NaN,01.02.2023 14:22:23,01.02.2023 14:22:23,Холодная база - еще не звонили,NaN,NaN,NaN
1,ЦОТНЕ,9267644649,NaN,NaN,01.02.2023 14:09:46,01.02.2023 14:09:46,Холодная база - еще не звонили,NaN,NaN,NaN
2,ЦАНДЫК,89651222809,NaN,NaN,01.02.2023 14:08:55,01.02.2023 14:08:55,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЦОЛАК,89250380108,NaN,NaN,01.02.2023 14:07:20,01.02.2023 14:07:20,Холодная база - еще не звонили,NaN,NaN,NaN
4,МНАЦАКАН,89645130560,NaN,NaN,01.02.2023 14:05:15,01.02.2023 14:05:15,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
84,ГУАНЦЗИ,89265055651,NaN,NaN,01.02.2023 10:27:52,01.02.2023 10:27:52,Холодная база - еще не звонили,NaN,NaN,NaN
85,ЦЫДЫПЖАП,89160894795,NaN,NaN,01.02.2023 10:27:04,01.02.2023 10:27:04,Холодная база - еще не звонили,NaN,NaN,NaN
86,АВИЦЕННА,89104227627,NaN,NaN,01.02.2023 10:25:00,01.02.2023 10:25:00,Холодная база - еще не звонили,NaN,NaN,NaN
87,ЦЗЮНЬ,89265168333,NaN,NaN,01.02.2023 10:19:25,01.02.2023 10:19:25,Холодная база - еще не звонили,NaN,NaN,NaN
88,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN

Телефон
False    89
Name: count, dtype: int64

In [63]:
cont_cc = number_norm(data = contact_cc, name = 'Телефон', new_name='number')

(89, 11)

6

In [64]:
contact_ch = pd.read_csv('CONTACT_ч.csv', dtype=str)
display(contact_ch)
contact_ch['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ГРАЧ,89299208608,NaN,NaN,01.02.2023 14:22:53,01.02.2023 14:22:53,Холодная база - еще не звонили,NaN,NaN,NaN
1,ВЯЧЕСЛАВ,9031110921,NaN,NaN,01.02.2023 14:22:49,01.02.2023 14:22:49,Холодная база - еще не звонили,NaN,NaN,NaN
2,ВЯЧЕСЛАВ,89256644704,NaN,NaN,01.02.2023 14:22:40,01.02.2023 14:22:40,Холодная база - еще не звонили,NaN,NaN,NaN
3,ВЯЧЕСЛАВ,89104303618,NaN,NaN,01.02.2023 14:22:26,01.02.2023 14:22:26,Холодная база - еще не звонили,NaN,NaN,NaN
4,ВЯЧЕСЛАВ,9037221944,NaN,NaN,01.02.2023 14:22:25,01.02.2023 14:22:25,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1537,ВЯЧЕСЛАВ,2116629,NaN,NaN,01.02.2023 10:18:43,01.02.2023 10:18:43,Холодная база - еще не звонили,NaN,NaN,NaN
1538,ВЯЧЕСЛАВ,89104261157,NaN,NaN,01.02.2023 10:18:38,01.02.2023 10:18:38,Холодная база - еще не звонили,NaN,NaN,NaN
1539,ВЯЧЕСЛАВ,89255023602,NaN,NaN,01.02.2023 10:18:17,01.02.2023 10:18:17,Холодная база - еще не звонили,NaN,NaN,NaN
1540,РЕ ЧУН,89037978877,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
1541,МАХАЧ,89104506694,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    1542
Name: count, dtype: int64

In [65]:
cont_ch = number_norm(data = contact_ch, name = 'Телефон', new_name='number')

(1542, 11)

138

In [66]:
contact_sh = pd.read_csv('CONTACT_ш.csv', dtype=str)
display(contact_sh)
contact_sh['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
1,ШАХИН,89035593536,NaN,NaN,01.02.2023 14:22:42,01.02.2023 14:22:42,Холодная база - еще не звонили,NaN,NaN,NaN
2,МАГОМЕДШАРИП,9036288630,NaN,NaN,01.02.2023 14:22:12,01.02.2023 14:22:12,Холодная база - еще не звонили,NaN,NaN,NaN
3,ШАМИЛЬ,89030055990,NaN,NaN,01.02.2023 14:22:06,01.02.2023 14:22:06,Холодная база - еще не звонили,NaN,NaN,NaN
4,АЙКАНУШ,89166190190,NaN,NaN,01.02.2023 14:21:54,01.02.2023 14:21:54,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
686,БАЛАГАНЕШАН,89263614112,NaN,NaN,01.02.2023 10:18:26,01.02.2023 10:18:26,Холодная база - еще не звонили,NaN,NaN,NaN
687,ШОРЕНА,89166098255,NaN,NaN,01.02.2023 10:18:20,01.02.2023 10:18:20,Холодная база - еще не звонили,NaN,NaN,NaN
688,АШОТ,89252370007,NaN,NaN,01.02.2023 10:18:04,01.02.2023 10:18:04,Холодная база - еще не звонили,NaN,NaN,NaN
689,ШАМИЛЬ,89263009202,NaN,NaN,01.02.2023 10:18:01,01.02.2023 10:18:01,Холодная база - еще не звонили,NaN,NaN,NaN
690,СИЯБШАХ,89153093454,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    691
Name: count, dtype: int64

In [67]:
cont_sh = number_norm(data = contact_sh, name = 'Телефон', new_name='number')

(691, 11)

50

In [68]:
contact_ui = pd.read_csv('CONTACT_ы.csv', dtype=str)
display(contact_ui)
contact_ui['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,БАХАДЫР,89651527202,NaN,NaN,01.02.2023 14:20:23,01.02.2023 14:20:23,Холодная база - еще не звонили,NaN,NaN,NaN
1,БАХАДЫР,89262677057,NaN,NaN,01.02.2023 14:20:19,01.02.2023 14:20:19,Холодная база - еще не звонили,NaN,NaN,NaN
2,ФАТЫХ,89055059820,NaN,NaN,01.02.2023 14:19:47,01.02.2023 14:19:47,Холодная база - еще не звонили,NaN,NaN,NaN
3,БАКЫТБЕК,89165175063,NaN,NaN,01.02.2023 14:10:30,01.02.2023 14:10:30,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЦАНДЫК,89651222809,NaN,NaN,01.02.2023 14:08:55,01.02.2023 14:08:55,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
153,ДАШГЫН,84953477202,NaN,NaN,01.02.2023 10:21:17,01.02.2023 10:21:17,Холодная база - еще не звонили,NaN,NaN,NaN
154,САДЫХ,8926535353,NaN,NaN,01.02.2023 10:20:47,01.02.2023 10:20:47,Холодная база - еще не звонили,NaN,NaN,NaN
155,БАТЫРБЕК,89299998807,NaN,NaN,01.02.2023 10:20:19,01.02.2023 10:20:19,Холодная база - еще не звонили,NaN,NaN,NaN
156,САДЫХ,4956195005,NaN,NaN,01.02.2023 10:19:29,01.02.2023 10:19:29,Холодная база - еще не звонили,NaN,NaN,NaN
157,НАЗЫМ,5173930,NaN,NaN,01.02.2023 10:18:56,01.02.2023 10:18:56,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    158
Name: count, dtype: int64

In [69]:
cont_ui = number_norm(data = contact_ui, name = 'Телефон', new_name='number')

(158, 11)

7

In [70]:
contact_q = pd.read_csv('CONTACT_ь.csv', dtype=str)
display(contact_q)
contact_q['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Дарья,79956054851,NaN,NaN,28.10.2023 10:56:51,28.03.2023 11:53:27,Звонок,NaN,NaN,NaN
1,ШАМИЛЬ,9168093955,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,НАТАЛЬЯ,9670425317,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
3,ТАТЬЯНА,89057071314,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
4,ИГОРЬ,89161953242,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15758,НАТАЛЬЯ,"89039727575, 89296151023, 89175125693, 8916672...",NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
15759,ИГОРЬ,89099092921,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
15760,ИЛЬЯ,89037780848,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
15761,ТАТЬЯНА,89262651187,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
15762,Илья,79164458410,NaN,NaN,28.02.2023 21:47:52,20.01.2023 13:43:25,Звонок,NaN,NaN,NaN

Телефон
False    15763
Name: count, dtype: int64

In [71]:
cont_q = number_norm(data = contact_q, name = 'Телефон', new_name='number')

(15763, 11)

1059

In [72]:
contact_qe = pd.read_csv('CONTACT_э.csv', dtype=str)
display(contact_qe)
contact_qe['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЭДУАРД,9057071978,NaN,NaN,01.02.2023 14:22:38,01.02.2023 14:22:38,Холодная база - еще не звонили,NaN,NaN,NaN
1,РАФАЭЛЬ,89851949408,NaN,NaN,01.02.2023 14:22:36,01.02.2023 14:22:36,Холодная база - еще не звонили,NaN,NaN,NaN
2,ЭМИЛЬ,89099661415,NaN,NaN,01.02.2023 14:22:27,01.02.2023 14:22:27,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЭДУАРД,9262646846,NaN,NaN,01.02.2023 14:21:49,01.02.2023 14:21:49,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЭМИЛЬ,89091539545,NaN,NaN,01.02.2023 14:21:43,01.02.2023 14:21:43,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1180,ЭДУАРД,89629953959,NaN,NaN,01.02.2023 10:18:06,01.02.2023 10:18:06,Холодная база - еще не звонили,NaN,NaN,NaN
1181,МАРИНЭ,89150070385,NaN,NaN,01.02.2023 10:18:04,01.02.2023 10:18:04,Холодная база - еще не звонили,NaN,NaN,NaN
1182,ЭМИН,4650803,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
1183,ЭЛЬБУРУС,1873187,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
1184,ЭРИК,89262140343,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    1185
Name: count, dtype: int64

In [73]:
cont_qe = number_norm(data = contact_qe, name = 'Телефон', new_name='number')

(1185, 11)

76

In [74]:
contact_u = pd.read_csv('CONTACT_ю.csv', dtype=str)
display(contact_u)
contact_u['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,ЮРИЙ,89266516894,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
1,ЮРИЙ,9652259460,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
2,ЮРИЙ,89039748786,NaN,NaN,01.02.2023 14:22:55,01.02.2023 14:22:55,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЮРИЙ,89654387313,NaN,NaN,01.02.2023 14:22:53,01.02.2023 14:22:53,Холодная база - еще не звонили,NaN,NaN,NaN
4,ЮРИЙ,9057788889,NaN,NaN,01.02.2023 14:22:51,01.02.2023 14:22:51,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
6510,ЮРИЙ,89851808835,NaN,NaN,01.02.2023 10:18:00,01.02.2023 10:18:00,Холодная база - еще не звонили,NaN,NaN,NaN
6511,ЛЮДМИЛА,89037810711,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
6512,ЛЮБОВЬ,79035350847,NaN,NaN,01.02.2023 10:17:59,01.02.2023 10:17:59,Холодная база - еще не звонили,NaN,NaN,NaN
6513,ЮЛИЯ,9161764510,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
6514,ЛЮДМИЛА,7436895,NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN

Телефон
False    6515
Name: count, dtype: int64

In [75]:
cont_u = number_norm(data = contact_u, name = 'Телефон', new_name='number')

(6515, 11)

526

In [76]:
contact_ya = pd.read_csv('CONTACT_я.csv', dtype=str)
display(contact_ya)
contact_ya['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Дарья,79956054851,NaN,NaN,28.10.2023 10:56:51,28.03.2023 11:53:27,Звонок,NaN,NaN,NaN
1,НАТАЛЬЯ,9670425317,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
2,ТАТЬЯНА,89057071314,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
3,ЛИДИЯ,89263553399,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
4,НАТАЛИЯ,89067223744,NaN,NaN,01.02.2023 14:22:56,01.02.2023 14:22:56,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
17908,НАТАЛЬЯ,"89039727575, 89296151023, 89175125693, 8916672...",NaN,NaN,01.02.2023 10:17:58,01.02.2023 10:17:58,Холодная база - еще не звонили,NaN,NaN,NaN
17909,ИЛЬЯ,89037780848,NaN,NaN,01.02.2023 10:17:57,01.02.2023 10:17:57,Холодная база - еще не звонили,NaN,NaN,NaN
17910,ЯРОСЛАВ,84957680432,NaN,NaN,01.02.2023 10:17:56,01.02.2023 10:17:56,Холодная база - еще не звонили,NaN,NaN,NaN
17911,ТАТЬЯНА,89262651187,NaN,NaN,01.02.2023 10:17:55,01.02.2023 10:17:55,Холодная база - еще не звонили,NaN,NaN,NaN
17912,Илья,79164458410,NaN,NaN,28.02.2023 21:47:52,20.01.2023 13:43:25,Звонок,NaN,NaN,NaN

Телефон
False    17913
Name: count, dtype: int64

In [77]:
cont_ya = number_norm(data = contact_ya, name = 'Телефон', new_name='number')

(17913, 11)

1134

In [109]:
contact_r = pd.read_csv('CONTACT_р.csv', dtype=str)
display(contact_r)
contact_r['Телефон'].isnull().value_counts()

,Название,Телефон,E-mail,Регион,Последняя активность,Дата создания,Источник,Стадия,Техника,База
0,Дарья,79956054851,NaN,NaN,28.10.2023 10:56:51,28.03.2023 11:53:27,Звонок,NaN,NaN,NaN
1,АЛЕКСАНДР,9104489851,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
2,ЕКАТЕРИНА,89645111050,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
3,ВИКТОР,9264727051,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
4,РОМАН,89031888883,NaN,NaN,01.02.2023 14:22:57,01.02.2023 14:22:57,Холодная база - еще не звонили,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
66050,Сергей,79994505505,NaN,NaN,11.01.2023 23:25:56,27.12.2022 13:00:53,NaN,NaN,NaN,NaN
66051,Егор,79135937038,NaN,NaN,27.12.2022 13:00:01,27.12.2022 13:00:01,Звонок,NaN,NaN,NaN
66052,Отец Александр,79212238584,NaN,NaN,17.04.2024 11:09:52,19.12.2022 08:37:52,Звонок,NaN,NaN,NaN
66053,Андрей,79504024285,NaN,NaN,14.06.2024 10:41:14,15.12.2022 09:15:03,Звонок,NaN,NaN,NaN
66054,Ринат,79163479836,NaN,NaN,28.02.2023 20:45:30,12.12.2022 10:52:14,Звонок,NaN,NaN,NaN

Телефон
False    66055
Name: count, dtype: int64

In [110]:
cont_r = number_norm(data = contact_r, name = 'Телефон', new_name='number')

(66055, 11)

5267

In [ ]:
#merged_df = cont_a.merge(cont_b, how='outer', on='number', sort=True)
#display(merged_df)
#display(cont_a.shape[0]+cont_b.shape[0])

In [114]:
concat_df = pd.concat([cont_a, cont_b, cont_c, cont_cc, cont_ch, 
                       cont_d, cont_e, cont_f, cont_g, cont_i, 
                       cont_ii, cont_j, cont_k, cont_l, cont_m, 
                       cont_n, cont_o, cont_p, cont_r, cont_q, 
                       cont_qe, cont_t, cont_sh, cont_u, cont_ui, 
                       cont_v, cont_x, cont_y, cont_ya, cont_z], sort=True, ignore_index=True)
display(concat_df.shape)
display(cont_a.shape[0]+cont_b.shape[0])

(719259, 12)

95684

In [115]:
display(concat_df)
concat_df['number'].value_counts()[lambda x: x>1]

,E-mail,number,База,Дата создания,Емейл,Источник,Название,Последняя активность,Регион,Стадия,Телефон,Техника
0,NaN,79875151111,NaN,26.04.2023 11:21:55,NaN,NaN,Алексей,22.05.2023 12:12:04,NaN,NaN,79875151111,NaN
1,NaN,79956054851,NaN,28.03.2023 11:53:27,NaN,Звонок,Дарья,28.10.2023 10:56:51,NaN,NaN,79956054851,NaN
2,NaN,79168093955,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,ШАМИЛЬ,01.02.2023 14:22:57,NaN,NaN,9168093955,NaN
3,NaN,79104489851,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,АЛЕКСАНДР,01.02.2023 14:22:57,NaN,NaN,9104489851,NaN
4,NaN,79250069996,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,АЛЕКСЕЙ,01.02.2023 14:22:57,NaN,NaN,89250069996,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
719254,NaN,79095384400,NaN,01.02.2023 10:18:11,NaN,Холодная база - еще не звонили,РАМАЗИ,01.02.2023 10:18:11,NaN,NaN,89095384400,NaN
719255,NaN,79852260937,NaN,01.02.2023 10:18:10,NaN,Холодная база - еще не звонили,ТЕНГИЗ,01.02.2023 10:18:10,NaN,NaN,9852260937,NaN
719256,NaN,79266606646,NaN,01.02.2023 10:18:04,NaN,Холодная база - еще не звонили,АЗЕР,01.02.2023 10:18:04,NaN,NaN,89266606646,NaN
719257,NaN,79252204581,NaN,01.02.2023 10:18:02,NaN,Холодная база - еще не звонили,ЗАКИР,01.02.2023 10:18:02,NaN,NaN,89252204581,NaN
719258,NaN,79152222877,NaN,01.02.2023 10:17:58,NaN,Холодная база - еще не звонили,РИЗИУАН,01.02.2023 10:17:58,NaN,NaN,89152222877,NaN

number
79150000395    15
79035726671    15
79165840578    14
79104038208    14
79035995154    14
               ..
79055891181     2
79031994332     2
79032440128     2
79165289943     2
79104944515     2
Name: count, Length: 129649, dtype: int64

In [117]:
concat_df_drop_dubl = concat_df.drop_duplicates('number', ignore_index=True)
display(concat_df_drop_dubl)

,E-mail,number,База,Дата создания,Емейл,Источник,Название,Последняя активность,Регион,Стадия,Телефон,Техника
0,NaN,79875151111,NaN,26.04.2023 11:21:55,NaN,NaN,Алексей,22.05.2023 12:12:04,NaN,NaN,79875151111,NaN
1,NaN,79956054851,NaN,28.03.2023 11:53:27,NaN,Звонок,Дарья,28.10.2023 10:56:51,NaN,NaN,79956054851,NaN
2,NaN,79168093955,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,ШАМИЛЬ,01.02.2023 14:22:57,NaN,NaN,9168093955,NaN
3,NaN,79104489851,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,АЛЕКСАНДР,01.02.2023 14:22:57,NaN,NaN,9104489851,NaN
4,NaN,79250069996,NaN,01.02.2023 14:22:57,NaN,Холодная база - еще не звонили,АЛЕКСЕЙ,01.02.2023 14:22:57,NaN,NaN,89250069996,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
129648,NaN,79100023838,NaN,01.02.2023 11:09:12,NaN,Холодная база - еще не звонили,Ю,01.02.2023 11:09:12,NaN,NaN,89100023838,NaN
129649,NaN,79015172258,NaN,01.02.2023 12:44:16,NaN,Холодная база - еще не звонили,ХЫУ,01.02.2023 12:44:16,NaN,NaN,89015172258,NaN
129650,NaN,79165450983,NaN,01.02.2023 10:56:50,NaN,Холодная база - еще не звонили,ХЫУ,01.02.2023 10:56:50,NaN,NaN,89165450983,NaN
129651,NaN,79165167980,NaN,01.02.2023 11:45:15,NaN,Холодная база - еще не звонили,ХХХ,01.02.2023 11:45:15,NaN,NaN,89165167980,NaN
129652,NaN,79683629999,NaN,01.02.2023 11:42:21,NaN,Холодная база - еще не звонили,ХХХ,01.02.2023 11:42:21,NaN,NaN,89683629999,NaN

In [118]:
concat_df_drop_dubl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129653 entries, 0 to 129652
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   E-mail                0 non-null       object
 1   number                129653 non-null  object
 2   База                  0 non-null       object
 3   Дата создания         129653 non-null  object
 4   Емейл                 0 non-null       object
 5   Источник              129649 non-null  object
 6   Название              129653 non-null  object
 7   Последняя активность  129653 non-null  object
 8   Регион                0 non-null       object
 9   Стадия                0 non-null       object
 10  Телефон               129653 non-null  object
 11  Техника               0 non-null       object
dtypes: object(12)
memory usage: 11.9+ MB

In [119]:
concat_df_drop_dubl.to_csv('CONTACT_all.csv')